<div class="background-mask">
  <div class="container centered">
    <div class="content-title">About Us</div>
    <div class="content-horizontal-rule"></div>
  </div>
</div>

<div class="background-mask">
  <div class="container">
    <div class="content-text-container">

      <div class="content-text-intro">Code for Science &amp; Society ("CSS") is a not-for-profit organization committed to improving access to data for the public good.</div>

      <div class="content-text-paragraph">At CSS we seek to advance the power of data to improve the social and economic lives of all people through public education, scientific research, and technology development and deployment. We work to improve the public’s ability to find, collect, and share the data they use to make more informed decisions in the benefit of the public interest.</div>

      <div class="content-text-paragraph">We work at the intersection of technology with three areas of public interest: science, journalism and government. Our goal is to help these areas make better use of technology to accomplish their goals and help foster more openness, transparency and collaboration.</div>

      <div class="content-text-paragraph">Our main function is to build, promote and train these communities on data management, sharing and search tools they can use to make better use of data in their work and to benefit the public at large.</div>
  </div>
</div>

<div class="background-mask background-mask--toned">
  <div class="content-text-container">
      <div class="content-text-intro">Contact Us</div>

      <div class="content-text-paragraph">
        <strong>Phone</strong> (415) 238-6351
      </div>

      <div class="content-text-paragraph">
        <strong>E-mail</strong> max@maxogden.com
      </div>
      
      <div class="content-text-paragraph">
        <strong>Mailing Address</strong><br>
        Code for Science and Society<br>
        C/O Max Ogden<br>
        419 NE 10th Ave<br>
        Portland, OR<br>
        97232
      </div>

  </div>
</div>

<div class="background-mask background-mask--toned">
  <div class="content-text-container">
    <div class="content-text-intro">Logo/Sticker Templates</div>
    <div>
      <a href="static/img/codeforscience.png"><img width="300" src="static/img/codeforscience.png"></a>
    </div>
    <div>
      <a href="static/img/css-blank.png"><img width="300" src="static/img/css-blank.png"></a>
    </div>
  </div>
</div>
