<div class="background-mask">
  <div class="container centered">
    <div class="content-title">Events</div>
    <div class="content-horizontal-rule"></div>
  </div>
</div>
<div class="container">
  <div class="content-text-container">
    <div class="content-text-paragraph">
      We run periodic events in a variety of cities to talk open science, reproducibility, civic technology, and open data.
      By sharing ideas and getting to know eachother in our regular meetups and workshops, we aim to foster a community that is collaborative in its development of open source technology for the public good.
    </div>
    <div class="content-text-paragraph">
      We aim to bring together folks from different perspectives, projects, and backgrounds. Usually there is a diverse mix of scientists, developers, civic hackers, data analysts, project managers, designers, government officials, and more. Our events are free and open for everyone.
    </div>
    <h3>Upcoming Events</h3>
    <div class="content-text-paragraph">
      Come see the list of upcoming events on our <a href="https://www.meetup.com/Dat-Meetup/">Meetup.com Group</a>.
    </div>
    <div class="content-text-paragraph">
    <h1>Dear speaker,</h1>
    </div>
    <div class="content-text-paragraph">
      We're happy you'd like to give a talk at a Code for Science and Society meetup!
      You're welcome to present on a half-baked idea, trend, interesting project (that may or may not be your own),
      a well established project, or open source community you are a part of related to coding for science and society.
    </div>
    <div class="content-text-paragraph">
      Every group in every city is slightly different, but we have some basic guidelines below to help your orient yourself before giving a talk at one of our meetups.
    </div>
    <h2>Talk Requirements</h2>
    <h3>Duration</h3>
    <div class="content-text-paragraph">
      Please make absolutely sure to keep your talk within the limit identified by the organizer!
      We aim to present short, focused ideas.
      The audience will thank you for not stretching the evening after a long workday, and so will the other speakers and the team.
      We’ll provide a countdown so you can check your timing during the talk.
    </div>
    <h3>Language</h3>
    <div class="content-text-paragraph">
      Talks are in English unless otherwise specified.
    </div>
    <h3>Questions</h3>
    <div class="content-text-paragraph">
      We do not take questions from the audience after talks.
      There’ll be time for discussion and workshopping during breaks and after the meetup.
    </div>
    <h3>Code of Conduct</h3>
    <div class="content-text-paragraph">
      Please review our <a href="http://berlincodeofconduct.org/">Code of Conduct</a>, which we gracefully share from our friends in Berlin.
      We aim to be a safe and inclusive event, and encourage you to use inclusive language and imagery in your presentation, for example by avoiding gendered pronouns.
      Please reach out anytime if you have questions.
    </div>
    <h3>Location and Schedule</h3>
    <div class="content-text-paragraph">
      We recommend you show up at least 15 minutes before the event to make sure you can relax, set up your notebook, and meet the early birds.
      We will help you set up the technical equipment, and should have the right connections for VGA, HDMI or MiniDisplayPort. However, if you want to be on the safe side or if
      your machine is special, feel free to bring your own.
    </div>

    <h3>Recruiting and Advertising in Your Talk</h3>
    <div class="content-text-paragraph">
      We are very grateful for you to speak at the event!
      So if you want to let the audience know about your upcoming product launch, your startup idea, or that you are hiring, you are very welcome to mention that while you’re on stage.
      Just please keep any commercial shout-outs short and focus instead on exciting the crowd with the content of your talk.
    </div>

    <h3>Questions?</h3>
    <div class="content-text-paragraph">
      Please contact us any time if you have questions – we’re here to help!
      We welcome speakers of any level of experience.
      If you need assistance in improving your skills or have never given a talk before, do not fear!
      Let us know, and we’ll review your slides and notes or give feedback and tips. Here's a great resource for getting into public speaking: <a href="http://weareallaweso.me/">weareallaweso.me</a>
    </div>
    <div class="content-text-paragraph">
      We are looking forward to hearing your talk!
    </div>
    <div class="content-text-paragraph">
      With Love,
    </div>
    <div class="content-text-paragraph">
      The Code for Science & Society team
    </div>

    <div class="content-text-paragraph">
      Graciously copied with slight modifications and permission from the <a href="http://up.front.ug/speakers-guide/">Up.front speaker's guide</a>.
    </div>
  </div>
</div>
